<div class="splash">
<h1>My Budget</h1>

<%= button_to "LOG IN", new_user_session_path, method: 'get', class: 'log-in' %>
<%= link_to 'Register Now', new_user_registration_path, class: 'btn btn-primary' %>
</div>