<div class="container splash">
    <h1 class="budgy">Budget</h1>

    <div class="buttons">
        <% if user_signed_in? %>
            <%= button_to "LOGOUT", logout_path, method: :delete, class:"logout" %>
        <% end %>    
        </br>
        <p class="login"><a href="<%= new_user_session_path %>">LOG IN</a></p>

        <p class="signup"><a href="<%= new_user_registration_path %>">SIGN UP</a></p>
    </div>
</div>