@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.splash {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
}

.splash h1 {
  font-family: "Lobster", cursive;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;
}

.splash button {
  width: 100%;
  background: none;
  padding: 15px;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 200;
  display: block;
  flex-shrink: 0;
}

.splash .log-in {
  background-color: #3778c2;
  color: #fff;
}

.splash button:hover {
  font-weight: 700;
}
