<%= stylesheet_link_tag 'registration' %>
<nav class="register">
  <%= link_to group_expenses_path(@group), class: 'arrow-link' do %>
    <i class="fa fa-solid fa-arrow-left"></i>
  <% end %>
  <h2>ADD TRANSACTION</h2>
</nav>

<%= render "form", expense: @expense %>